@model WriterSignUpViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yazar Kayıt Paneli</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/writer/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/writer/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/writer/assets/css/style.css">
    <!-- End layout styles -->
</head>
<body>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        function myfunc() {
            swal("Bu platforma kayıt olarak bilgilerimin kullanıcı gizliliği dikkate alınarak işlenmesini, gerekli platformalarla paylaşılmasını ve şifre hariç diğer bilgilerimin gerektiğinde yetkili kişiler tarafından görülebileceğini kabul etmiş bulunuyorum.");

            let checkbox = document.getElementById("terms");
            checkbox.disabled = true;
        }
    </script>


    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <h5 class="text-center text-danger">@ViewBag.gecersizsifre</h5>
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo mb-0">
                                <a class="navbar-brand brand-logo" href="/Blog/Bloglar/" style="color: #057fdf;font-weight:bold"><img src="~/writer/assets/images/logo3.svg" alt="logo" style="width:45px" /> Core Blog</a>
                            </div>
                            <h4 style="color: #057fdf">Yeni misin?</h4>
                            <h6 class="font-weight-light">Kayıt olmak çok kolay. Sadece birkaç dakikanı alacak</h6><br />

                            <form method="post" asp-action="RegisterWriter" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="text" asp-for="@Model.namesurname" class="form-control form-control-lg" placeholder="Ad soyad" />
                                    <span asp-validation-for="@Model.namesurname" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="file" asp-for="@Model.Image" class="file-upload-default" />
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control file-upload-info" disabled placeholder="Fotoğraf seç">
                                        <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-gradient-success" type="button"><i class="mdi mdi-upload btn-icon-prepend"></i> Yükle</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" asp-for="@Model.username" class="form-control form-control-lg" placeholder="Kullanıcı adı" />
                                    <span asp-validation-for="@Model.username" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="email" asp-for="@Model.mail" class="form-control form-control-lg" placeholder="Mail adresi" />
                                    <span asp-validation-for="@Model.mail" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="password" asp-for="@Model.password" class="form-control form-control-lg" placeholder="Şifre" />
                                    <span asp-validation-for="@Model.password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="password" asp-for="@Model.passwordconfirm" class="form-control form-control-lg" placeholder="Şifre onay">
                                    <span asp-validation-for="@Model.passwordconfirm" class="text-danger"></span>
                                </div>

                                <div class="mb-4">
                                    <div class="form-check form-check-info" style="display:inline-block">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" asp-for="@Model.Gender" class="form-check-input text-info"> Erkek
                                        </label>
                                    </div>
                                    <div class="form-check form-check-info ml-3" style="display:inline-block">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input text-info"> Bayan
                                        </label>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="form-check form-check-info">
                                        <label class="form-check-label text-muted">
                                            <input id="terms" type="checkbox" class="form-check-input text-info" onclick="myfunc()" required> Kullanıcı sözleşme ve koşullarını okudum kabul ediyorum
                                        </label>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-gradient-info btn-lg font-weight-medium auth-form-btn" href="">KAYIT OL</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Zaten bir hesabın var mı? <a href="/WriterLogin/LoginWriter/" class="text-info">Giriş Yap</a>
                                </div>

                                <div class="text-danger mt-3" asp-validation-summary="ModelOnly">

                                </div>
                                <h5 class="text-danger mt-2">@TempData["YazarKullaniliyor"]</h5>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/writer/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/writer/assets/js/off-canvas.js"></script>
    <script src="~/writer/assets/js/hoverable-collapse.js"></script>
    <script src="~/writer/assets/js/misc.js"></script>
    <script src="~/writer/assets/js/file-upload.js"></script>
    <!-- endinject -->
</body>
</html>