@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<EntityLayer.Concrete.Blog>

@{
    ViewData["Title"] = "Bloglar";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
    double blog_persentage = 0.0;
    string durum = "";
    string durum_col = "";
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <img src="/BlogImages/@item.BlogThumbnailImage" class="img-thumbnail card-img-top" />

                    <div class="product-desc">
                        <span class="product-price">
                            @if (item.BlogRating.BlogRatingCount == 0)
                            {
                                blog_persentage = 0;

                            }
                            else
                            {
                                blog_persentage = (double)item.BlogRating.BlogTotalScore / (double)item.BlogRating.BlogRatingCount;
                            }

                            @blog_persentage.ToString("0.00")

                        </span>
                        <small class="text-muted">@item.Category.CategoryName</small><br />
                        <a href="/Blog/BlogReadAll/@item.BlogID" class="product-name" style="display:inline-block"> @item.BlogTitle</a>
                        @if (item.BlogStatus == true)
                        {
                            durum = "Aktif";
                            durum_col = "text-navy";
                        }
                        else
                        {
                            durum = "Pasif";
                            durum_col = "text-danger";
                        }
                        <span class="float-right @durum_col">@durum</span>



                        <div class="small m-t-xs">
                            @item.BlogContent.Substring(0, item.BlogContent.Substring(0, 100).LastIndexOf("")) ...
                        </div>
                        <div class="m-t text-righ">
                            <a href="/Blog/BlogReadAll/@item.BlogID" class="btn btn-xs btn-outline btn-primary">Detaylar <i class="fa fa-long-arrow-right"></i> </a>

                            <span class="float-right text-navy">@item.AppUser.NameSurname</span><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("BlogsPage", new { page }))

